<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CVJobs - Post a Job</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
	<!-- OwlCarousel2 CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link href="css/checkbox.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div class="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">CVjobs.lk</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<a href="#">Jobs</a>
						</li>
						<li>
							<a href="#">CV/Career Advise</a>
						</li>
						<li>
							<a href="#">Contact Us</a>
						</li>
						<li>
							<a href="#">Recruiter Area</a>
						</li>
						<li>
							<a href="#"><button type="button" class="btn btn-default btn-sm btn-red">Find Course</button></a>
						</li>
						<li>
							<a href="#"><button type="button" class="btn btn-default btn-sm">All Foreign Jobs</button></a>
						</li>
						<li>
							<span>Job Seekers :</span>
						</li>
						<li>
							<a href="#">Saved Jobs</a>
						</li>
						<li>
							<a href="#">Sign In</a>
						</li>
						<li>
							<a href="#">Register</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>

		<!-- Page Content -->
		<div class="container-fluid">
			<div class="content">
				<div class="row-fluid">
					<div class="col-lg-12">
						<div class="contact-search-bg">
							<div class="contact-search-wrapper">
								<form class="form-inline">
									<div class="row">
										<div class="col-lg-2">
											<label class="control controlCheckbox">
												<input type="checkbox" />Graduate/Trainee
												<div class="controlIndicator"></div>
											</label>
										</div>
										<div class="col-lg-2">
											<label class="control controlCheckbox">
												<input type="checkbox" />Local Jobs
												<div class="controlIndicator"></div>
											</label>
										</div>
										<div class="col-lg-2">
											<label class="control controlCheckbox">
												<input type="checkbox" />Government
												<div class="controlIndicator"></div>
											</label>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="sr-only" for="homeSearchJobs">Search Jobs</label>
												<input type="text" class="form-control" id="homeSearchJobs" placeholder="Search Jobs">
											</div>
											<div class="form-group">
												<button type="button" class="btn btn-default search-btn">Search Jobs</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
                
                <div class="row-fluid">
                    <div class="col-lg-12">
                        <div class="searched-job-categories-bg">
							<div class="searched-job-categories-wrapper">
								<div class="row">
									<div class="col-lg-3">
										<li><a href="#">IT & Network (122)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">IT & Network (12)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">IT & Network (12)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">IT & Network (12)</a></li>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3">
										<li><a href="#">Hospital (32)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Hospital (20)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Hospital (5)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Hospital</a></li>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3">
										<li><a href="#">Banking/Insurance (32)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Banking/Insurance (23)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Banking/Insurance (10)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Banking/Insurance</a></li>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3">
										<li><a href="#">Security (4)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Business (8)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Human Resource (2)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Management (1)</a></li>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3">
										<li><a href="#">Administration (4)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Logistics (8)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Finance (2)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Business (1)</a></li>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-3">
										<li><a href="#">Administration (4)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Logistics (8)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Finance (2)</a></li>
									</div>
									<div class="col-lg-3">
										<li><a href="#">Business (1)</a></li>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
				
				<div class="row-fluid">
                    <div class="searched-job-wrapper">
                        <div class="col-lg-12">
                            <h4 class="searched-job-title">
                                Selected Job Category
                                <span class="searched-job-category">IT &amp; Network Systems</span> Found 67 Jobs 1-20 listing
                                <ul class="pagination pagination-sm">
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                            </h4>
                            <div class="searched-job-bg">
                                <div class="row-fluid">
                                    <div class="col-lg-12">
                                        <table class="table table-bordered">
                                            <tr>
                                                <td class="searched-job-number-list">
                                                    <span>1</span>
                                                </td>
                                                <td>
                                                    <span class="searched-job-post">Network Engineer</span> - <span class="searched-job-company">SriLankan Airlines Ltd</span>
                                                    <br />
                                                    Location - <span class="searched-job-location">Colombo</span>&emsp;Salary - <span class="searched-job-salary">Negotiable</span>&emsp;Posted - <span class="searched-job-posted-date">23/04/2016</span>
                                                    <br />
                                                    <span class="searched-job-description">This leading roofing, cladding and complete building envelope specialist is looking to recruit a Project Manager to be responsible for the management.</span>
                                                    <br />
                                                    <a class="searched-job-view-details" onclick="newWindow()">View Details</a><span class="pull-right"><a class="searched-job-save">Save <i class="glyphicon glyphicon-star"></i></a></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="searched-job-number-list">
                                                    <span>2</span>
                                                </td>
                                                <td>
                                                    <span class="searched-job-post">Network Engineer</span> - <span class="searched-job-company">SriLankan Airlines Ltd</span>
                                                    <br />
                                                    Location - <span class="searched-job-location">Colombo</span>&emsp;Salary - <span class="searched-job-salary">Negotiable</span>&emsp;Posted - <span class="searched-job-posted-date">23/04/2016</span>
                                                    <br />
                                                    <span class="searched-job-description">This leading roofing, cladding and complete building envelope specialist is looking to recruit a Project Manager to be responsible for the management.</span>
                                                    <br />
                                                    <a class="searched-job-view-details" onclick="newWindow()">View Details</a><span class="pull-right"><a class="searched-job-save">Save <i class="glyphicon glyphicon-star"></i></a></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<!-- /.container -->

		<div class="container footer-bg">
			<!-- Footer -->
			<footer>
				<div class="row">
					<div class="col-lg-3">
						<h4>CVJobs</h4>
                        <div class="row">
                            <a href="#"><p>About Us</p></a>
                        </div>
                        <div class="row">
                            <a href="#"><p>Contact Us</p></a>
                        </div>
                        <div class="row">
                            <a href="#"><p>Terms and Conditions</p></a>
                        </div>
                        <div class="row">
                            <a href="#"><p>Careers at CVJobs.lk</p></a>
                        </div>
					</div>
					<div class="col-lg-3">
						<h4>Job Hunter</h4>
                        <div class="row">
                            <a href="#"><p>Job Seeker Login</p></a>
                        </div>
                        <div class="row">
                            <a href="#"><p>CV/Career Advise</p></a>
                        </div>
                        <div class="row">
                            <a href="#"><p>Find Foreign Jobs</p></a>
                        </div>
                        <div class="row">
                            <a href="#"><p>Find Course</p></a>
                        </div>
					</div>
					<div class="col-lg-3">
						<h4>Recruiter</h4>
                        <div class="row">
                            <a href="#"><p>Advertise with Us</p></a>
                        </div>
                        <div class="row">
                            <a href="#"><p>Contact Us for Advertise</p></a>
                        </div>
                        <div class="row">
                            <a href="#"><p>Recruiter Advise</p></a>
                        </div>
                        <div class="row">
                            <a href="#"><p>Registered Recruiters</p></a>
                        </div>
					</div>
					<div class="col-lg-3">
						<h4>CVJobs Mobile App</h4>
                        <div class="row">
                            <a href="#"><img src="img/Mobile App/PlayStore.png" alt="Play Store" /></a>
                        </div>
                        <div class="row">
                            <br />
                        </div>
                        <div class="row">
                            <a href="#"><img src="img/Mobile App/AppStore.png" alt="App Store" /></a>
                        </div>
                        <div class="row">
                            
                        </div>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-lg-3">
						<a href="#"><p>About Us</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><p>Job Seeker Login</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><p>Advertise with Us</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><img src="img/Mobile App/PlayStore.png" alt="Play Store" /></a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<a href="#"><p>Contact Us</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><p>CV/Career Advise</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><p>Contact Us for Advertise</p></a>
					</div>
					<div class="col-lg-3">
						
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<a href="#"><p>Terms and Conditions</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><p>Find Foreign Jobs</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><p>Recruiter Advise</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><img src="img/Mobile App/AppStore.png" alt="App Store" /></a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<a href="#"><p>Careers at CVJobs.lk</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><p>Find Course</p></a>
					</div>
					<div class="col-lg-3">
						<a href="#"><p>Registered Recruiters</p></a>
					</div>
					<div class="col-lg-3">
						
					</div>
				</div>-->
			</footer>
		</div>
		<!-- /.container -->
	</div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- OwlCarousel2 js -->
    <script src="js/owl.carousel.js"></script>
	<!-- Script to Activate the Carousel -->
    <script>
    $(document).ready(function(){
		var owl = $('.owl-carousel');
		
		owl.owlCarousel({
			items:4,
			loop:true,
			margin:1,
			autoplay:true,
			autoplayTimeout:3000,
			autoplayHoverPause:true,
			responsiveClass:true,
			responsive:{
				0:{
					items:1,
					nav:false
				},
				200:{
					items:1,
					nav:false
				},
				400:{
					items:1,
					nav:false
				},
				600:{
					items:2,
					nav:false
				},
				800:{
					items:2,
					nav:false
				},
				1000:{
					items:3,
					nav:false,
					loop:false
				},
				1200:{
					items:3,
					nav:false,
					loop:false
				}
			}
		});
	});
    </script>
    
    <script>
        function countChar(val) {
            var len = val.value.length;
            if (len >= 201) {
                val.value = val.value.substring(0, 201);
            } else {
                $('#charNum').text(0 + len);
            }
        }
        
        function newWindow() {
            window.open("viewJobDetails.html", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=300,width=600,height=600");
        }
    </script>

</body>

</html>
